<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <span *ngIf="!isLoggedIn">Rides App</span>
    <span *ngIf="isLoggedIn" class="rides-app-label" (click)="triggerUserClickEvent(true)">Rides App</span> -->
    <h1 *ngIf="!isLoggedIn">Disney World Wait Times</h1>
    <h1 *ngIf="isLoggedIn" class="rides-app-label" (click)="triggerUserClickEvent(true)">Disney World Wait Times</h1>
    <span class="example-spacer"></span>
    <button *ngIf="!isLoggedIn" mat-raised-button (click)="login()" class="login-button">Login</button>
    <button *ngIf="!isLoggedIn" mat-raised-button color="accent" (click)="createUser()">Create User</button>
    <span *ngIf="isLoggedIn" class="user-name" (click)="triggerUserClickEvent(false)">{{userName}}</span>
    <button *ngIf="isLoggedIn" mat-raised-button (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
