<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Rides App</span>
    <span class="example-spacer"></span>
    <button *ngIf="!isLoggedIn" mat-raised-button (click)="login()" class="login-button">Login</button>
    <button *ngIf="!isLoggedIn" mat-raised-button color="accent" (click)="createUser()">Create User</button>
    <span *ngIf="isLoggedIn" class="user-name">{{userName}}</span>
    <button *ngIf="isLoggedIn" mat-raised-button (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
