.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  margin-bottom: 25px;
}

.user-name {
  margin-right: 25px;
  cursor: pointer;
}

.login-button {
  margin-right: 20px;
}

.rides-app-label {
  cursor: pointer;
}
